body {
    font-family: 'Roboto';
    background-color: white;
    padding: 0;
    margin: 0;
}

/* Header  */

header, .first, footer {
    background-color: #1f2937;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
    margin-left: 100px;
}
.links{
    display: flex;
    gap: 20px;
    margin-right: 149px;
}

/* section 1 */

h1{
    font-size: 38px;
    color: #f9faf8;
    font-weight: 900;
    max-width: 300px;
    margin: 0px;
    margin-bottom: 5px;
}

.middle h2 {
    margin-bottom: 50px;
}

.links, p {
    color: #e5e7eb;
    font-size: 18px;
}
p {
    max-width: 400px;
    margin: 0px;
    margin-bottom: 5px;
}

button.buy {
    background-color: #3882F6;
    color: #e5e7eb;
    max-width: 100px;
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
    padding: 50px;
}

.left{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    margin-right: 100px;
    margin-left: 100px;
}

.right img {
    max-width: 500px;
    max-height: 200px;
}


/* section 2 */

.middle {
    background-color: lightblue;
    padding: 50px;
}
.container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.middle h2 {
    text-align: center;
}

.info {
    flex: 1;
}

.info img {
    max-height: 500px;
    max-width: 500px;
    border: 5px solid navy;
    margin-bottom: 5px;
}


/* Quote section  */

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    padding: 50px;
    padding-bottom: 100px;
}


.quote h2{
    max-width: 1500px;
    margin-bottom: auto;
    font-style: italic;
    font-weight: lighter;

}
.quote h3{
    margin-left: auto;
    margin-right: 200px;
}


/* Sign Up Section */


.signup {
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px auto;
    max-width: 1500px;
    
}
.signup button {
    max-width: 150px;
    max-height: 100px;
    margin-right: 50px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 30px;
    font-weight: bold;
}

.signup h2 {
    margin: 0;
}

.signup-container {
    background-color: #3882F6;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.modal:modal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal::backdrop {
    background: linear-gradient(45deg, blue, navy);
    opacity: .5;
}



/* * {
    border: 1px solid black;
} */

.carousel  {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
}

.carousel-button {
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translate(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}
.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}
.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

/* img.rides {
    max-width: 500px;
    max-height: 500px;
} */
